<div class="main-container">
  <header class="header">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <img src="./assets/images/vcm.png" style="width: 64px; padding-right: 10px;">
        <span class="title">ระบบจัดการสินค้าและบริการ VCM</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{fullname}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" clrDropdownItem>เปลี่ยนรหัสผ่าน</a>
          <a href="javascript://" (click)="logout()" clrDropdownItem>ออกจากระบบ</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <!-- <nav class="sidenav">
      <section class="nav-group collapsible">
        <input id="tabexample1" type="checkbox">
        <label for="tabexample1">Collapsible Nav Element</label>
        <ul class="nav-list">
          <li><a class="nav-link">Link 1</a></li>
          <li><a class="nav-link">Link 2</a></li>
        </ul>
      </section>
    </nav> -->
    <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapse">
      <a clrVerticalNavLink routerLink="/admin/products" title="รายการสินค้า" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="store" class=" is-solid"></clr-icon>
        รายการสินค้า
      </a>
      <a clrVerticalNavLink routerLink="/admin/machines" title="รายการสินค้า" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="printer" class=" is-solid"></clr-icon>
        รายการเครื่องพิมพ์
      </a>
      <a clrVerticalNavLink routerLink="/admin/receives" title="รับสินค้า" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="plus" class=" is-solid"></clr-icon>
        รับสินค้า
      </a>
      <a clrVerticalNavLink routerLink="/admin/customers" title="รับสินค้า" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user" class=" is-solid"></clr-icon>
        ลูกค้า
      </a>

      <!-- <clr-vertical-nav-group routerLinkActive="active">
        <a clrVerticalNavLink href="javascript://">
          <clr-icon shape="shopping-cart" clrVerticalNavIcon></clr-icon>
          สินค้า
        </a>
        <clr-vertical-nav-group-children *clrIfExpanded="false">
          <a clrVerticalNavLink routerLink="/admin/products" routerLinkActive="active">
            <clr-icon shape="store"></clr-icon>
            รายการสินค้า
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group> -->
    </clr-vertical-nav>
  </div>
</div>