<div class="login-wrapper">
  <form class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Vichai Charoen Machinery
      <h5 class="hint">ระบบจัดการสินค้าและบริการ VCM</h5>
    </section>
    <div class="login-group">
      <input class="username" type="text" [(ngModel)]="username" name="login_username" placeholder="ชื่อผู้ใช้งาน"
        (keyup)="enterLogin($event)">
      <input class="password" type="password" [(ngModel)]="password" name="login_password" placeholder="รหัสผ่าน"
        (keyup)="enterLogin($event)">

      <div class="error active" *ngIf="isError">
        {{ errorMessage || 'เกิดข้อผิดพลาด'}}
      </div>
      <button type="button" [disabled]="!username || !password" (click)="doLogin()" class="btn btn-primary">เข้าใช้งานระบบ</button>
    </div>
  </form>
</div>