.breadcrumb {
    border-radius: 5px 5px 5px 5px;
    padding: 0.5rem 0.5rem;
    list-style: none;
    background-color: #eceeef;
    margin-bottom: 15px;
}

.breadcrumb::after {
    display: block;
    content: "";
    clear: both;
}

.breadcrumb-item {
    float: left;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #636c72;
    content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
}

.breadcrumb-item.active {
    color: #636c72;
}

.required{
    color: red;
}
.required:after{
    content:"*";
    color: red;
    font-size: 0.9rem;
}
.approve-status {
    background-color: #DFF0D0;
    color:black;
}
.cancel-status {
    background-color: red;
    color:black;
}

.datagrid .datagrid-row-actions clr-icon {
    height: 14px;
    vertical-align: middle;
}

.grid-order .datagrid .datagrid-cell {
    padding: 0px 10px 0px 10px;
    line-height: 10px;
}

.datagrid .datagrid-row-actions clr-icon {
    height: 14px;
    vertical-align: middle;
}

.datagrid-cell .btn.btn-link {
    margin: 0;
    padding: 0;
}